<%- include("partials/header.ejs") %>
        <p>You have 3 tasks pending today...</p>
    </header>

    <main>
        <form action="/todaySubmit" method="post">
            <input type="text" name="todo" id="todo"><button type="submit">Add >></button>
        </form>

        

    </main>
</body>
</html>


