<%- include("partials/header.ejs") %>

    <p>You have 
        <% if (locals.todos) { %>
            <%= todos.length %>
        <% } else { %>
            0
        <% } %> 
        tasks pending today...
    </p>
    </header>

    <main class="d-flex">
        <form action="/submitToday" method="post">
            <input class="font" type="text" name="todo" id="todo" maxlength="35"><button type="submit" class="font">Add >></button>
        </form>

        <div class="notebook">
            <% if (locals.todos) { %>
                <% for (todo of todos) { %>
                     <p class="d-flex">
                        <input type="checkbox">
                        <span><%= todo %></span>
                    </p>
                <% } %>
             <% } %>
        </div>

    </main>

<%- include("partials/footer.ejs") %>


