body {
  margin: 0;
  padding-left: 35px;
  padding-right: 35px;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    133deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(74, 72, 71, 1) 100%
  );
  background-attachment: fixed;
}

h1 {
  font-size: 3rem;
}

h1,
h2 {
  color: #ffffff;
}

h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #000000;
}

header p {
  text-align: center;
  color: #afad73;
  font-style: italic;
}

nav,
ul {
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0 20px;
}

nav ul li {
  list-style: none;
  font-size: 1.2rem;
  padding: 5px 8px;
  border: 1px solid #afad73;
  background-color: #afad73;
  color: black;
  border-radius: 3px;
}

main {
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #acacac;
    margin-top: 50px;
    padding-top: 60px;
}

input[type="text"] {
    border: none;
    padding-left: 10px;
    width: 250px;
    max-width: calc(100% - 20%);
    height: 30px;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}

button[type="submit"] {
    border: none;
    min-width: 60px;
    margin-left: 10px;
    height: 30px;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    background-color: #afad73;
}

form {
  margin-bottom: 20px;
}

.todo-card {
  flex-direction: row-reverse;
  justify-content: space-between;
  padding: 0px 20px;
  width: 350px;
  max-width: calc(100% - 20%);
  font-style: italic;
  font-weight: 800;
  background-color: transparent;
  border: 1px solid #afad73;
  border-radius: 8px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow: -57px -55px 173px -82px rgba(0,0,0,0.3) inset;
  -webkit-box-shadow: -57px -55px 173px -82px rgba(0,0,0,0.3) inset;
  -moz-box-shadow: -57px -55px 173px -82px rgba(0,0,0,0.3) inset;
}

input:checked + p {
  text-decoration: line-through;
}

footer {
  text-align: center;
  align-self: self-end;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-style: italic;
  color: #ffffff;
}

.highlight {
  color: #cacaa6;
}

.font {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.mt-30 {
  margin-top: 30px;
}

.d-flex {
  display: flex;
}

@media (max-width: 526px) {
  nav {
    gap: 10px;
    flex-direction: column;
  }

  main {
    margin-top: 30px;
    padding-top: 40px;
  }

  h1 {
    margin: 0;
  }

  h2 {
    margin-top: 30px;
  }

}

@media (max-width: 410px) {

  input[type="text"] {
    width:  190px;
  }

}