body {
  height: 100vh;
  margin: 0;
  padding-left: 35px;
  padding-right: 35px;
  background: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
    133deg,
    rgba(0, 0, 0, 1) 2%,
    rgba(74, 72, 71, 1) 100%
  );
}

h1 {
  font-size: 3rem;
}

h1,
h2 {
  color: #ffffff;
}

h2 {
  margin-top: 50px;
  text-align: center;
  font-size: 2.5rem;
}

a {
  text-decoration: none;
  color: #000000;
}

header p {
  text-align: center;
  color: #afad73;
  font-style: italic;
}

header {
  margin-top: 30px;
}

nav,
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
  padding: 0 20px;
}

nav ul li {
  list-style: none;
  font-size: 1.2rem;
  padding: 5px 8px;
  border: 1px solid #afad73;
  background-color: #afad73;
  color: black;
  border-radius: 3px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #acacac;
    margin-top: 50px;
    padding-top: 60px;
}

input[type="text"] {
    border: none;
    padding-left: 10px;
    width: 250px;
    height: 30px;
    outline: none;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
}

button[type="submit"] {
    border: none;
    min-width: 60px;
    margin-left: 10px;
    height: 30px;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 500;
    font-style: italic;
    background-color: #afad73;
}


.highlight {
  color: rgb(202, 202, 166);
}
